<div class="belt <% if (small_spacing) {%>section--s<%} else {%>section--l<%}%>" data-marquee>
  <div class="belt__wrapper">
    <div class="belt__inner" data-marquee-belt>
      <% 
        let count = 20
      %>
    
      <% for(let i = 0; i < count; i++) { %>
        <span class="belt__label type--alt-xl no-wrap">
          <%- label %>
        </span>
        <div class="belt__label belt--label-star">
          <%- include('./svg/star') -%>
        </div>
      <% } %>
    </div>
    
  </div>
</div>