<div class="belt <% if (small_spacing) {%>section--s<%} else {%>section--l<%}%>" data-marquee>
  <div class="belt__wrapper">
    <div class="belt__inner" data-marquee-belt>
      <% 
        let count = 150
      %>
    
      <% for(let i = 0; i < count; i++) { %>
        <div class="belt__item flex center-flex" data-marquee-item>
          <span class="belt__label type--alt-xl no-wrap">
            <%- label %>
          </span>
          <div class="belt__label belt--label-star">
            <%- include('./svg/star') -%>
          </div>
          <span class="belt__label type--alt-xl no-wrap">
            <%- label %>
          </span>
          <div class="belt__label belt--label-star">
            <%- include('./svg/star') -%>
          </div>
        </div>
        
      <% } %>

      
    </div>
    
  </div>
</div>