<div class="cursor fixed flex center-flex is-hidden" data-cursor>
  <div class="no-overflow">
    <span class="cursor__text no-wrap inline-block type--alt-xs">
      View Project
    </span>
  </div>
</div>

<div class="cursor cursor--inverted fixed z-index--2" data-cursor-footer></div>
