<div class="nav-bar">
  <div class="container grid">
    <a href="/" class="nav-bar__logo">
      <span class="type--s">
        L.J.B
      </span>
    </a>
    <div class="nav-bar__meta-one">
      <div>
        <span class="type--alt-s no-wrap--and-break">
          Lloyd-Jamie&nbsp;
        </span>
        <span class="type--alt-s no-wrap--and-break">
          Bennett
        </span>
      </div>
    </div>

    <div class="nav-bar__meta-two">
      <div>
        <span class="type--alt-s no-wrap--and-break">
          Brand &amp;
        </span>
        <span class="type--alt-s no-wrap--and-break">
          Web Designer
        </span>
      </div>
    </div>

    <div class="nav-bar__trigger">
      <div class="hamburger">
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
      </div>
    </div>

  </div>
</div>


