<div class="nav-bar" data-nav-bar data-scroll data-scroll-target="main" data-scroll-sticky>
  <div class="container grid--all">
    <a href="/" class="nav-bar__logo">
      <span class="type--alt-s no-wrap--and-break">
        Lloyd-Jamie&nbsp;
      </span>
      <span class="type--alt-s no-wrap--and-break">
        Bennett
      </span>
    </a>
    <div class="nav-bar__meta-one">
      <div>
        <span class="type--alt-s no-wrap--and-break">
          Brand &amp;
        </span>
        <span class="type--alt-s no-wrap--and-break">
          Web Designer
        </span>
      </div>
    </div>

    <div class="nav-bar__meta-two">
      <a href="mailto:lloydbennett92@gmail.com">
        <span class="type--alt-s no-wrap--and-break">
          Lloydbennett92
        </span>
        <span class="type--alt-s no-wrap--and-break">
          @gmail.com
        </span>
      </a>
    </div>

    <div class="nav-bar__trigger">
      <%- include('../partials/button', { link: "/about", buttonText: "Info" }) -%>
    </div>

  </div>
</div>


