<div class="nav-bar z-index--4 mix-blend__diff type--white" data-nav-bar>
  <div class="container grid--all">
    <a href="/" class="nav-bar__logo" data-page-trigger>
      <span class="type--alt-s no-wrap--and-break">
        Lloyd-Jamie&nbsp;
      </span>
      <span class="type--alt-s no-wrap--and-break">
        Bennett
      </span>
    </a>
    <div class="nav-bar__meta-one">
      <div>
        <span class="type--alt-s no-wrap--and-break">
          Brand &amp; Digital
        </span>
        <span class="type--alt-s no-wrap--and-break">
          Designer
        </span>
      </div>
    </div>

    <div class="nav-bar__meta-two">
      <a href="mailto:lloydbennett92@gmail.com">
        <span class="type--alt-s no-wrap--and-break">
          Lloydbennett92
        </span>
        <span class="type--alt-s no-wrap--and-break">
          @gmail.com
        </span>
      </a>
    </div>

    <div class="nav-bar__trigger">
      <%- include('../partials/hamburger') -%>
    </div>

  </div>
</div>


