<section class="section--l">
  <div class="projects">
    <% projects.forEach((project, index)=> { %>
      <% 
        let i = index + 1 
        let indexOutput = i.toString().padStart(2, '0')
        let projectTitle = project.data.title 
        let projectTitleArr = projectTitle.split(" ")
      %>

      <div class="project__card">
        <a href="<%- project.url %>" class="block">
          <div class="project__img" style="background-image: url('<%- project.data.hero_image.url %>') "></div>
  
          <div class="project__meta">
            <span class="type--s"><%- indexOutput %></span>
            <h4 class="type--s">
              <% projectTitleArr.forEach((title) => { %>
                <span class="no-wrap--and-break"><%- title %></span>
              <% }) %>
              
            </h4>
          </div>
        </a>
      </div>
      
    <%})%>
  </div>
</section>