.aside {
  grid-column: 3 / 6;

  @include media-query($breakpoint--medium - 1, max-width) {
    display: flex;
    justify-content: space-between;
  }

  @include media-query($breakpoint--medium) {
    grid-column: 1 / 3;
  }
}

.aside__content {
  & + & {
    @include media-query($breakpoint--medium) {
      margin-top: spacing(9);
    }
  }
}