getSlices = ((SliceZone) => {
  return SliceZone.reduce((prevSlices, slice) => { 
    if (slice.slice_type === 'two_column_image') {
      return prevSlices + include('./slices/TwoColumnImage.pug', { slice: slice })
    }
    else if (slice.slice_type === 'full_width_image') {
      return prevSlices + include('./slices/FullWidthImage.pug', { slice: slice })
    }
    else {
      return '<h1>No Slices found</h1>'
    } 
  }, '') 
}) 

getSlices(SliceZone)