<% getSlices = ((SliceZone) => {
  return SliceZone.reduce((prevSlices, slice) => {
    if (slice.slice_type === 'two_column_image') {
      return prevSlices + include('./slices/TwoColumnImage.ejs', { slice: slice })
    }  
    else if (slice.slice_type === 'full_width_image') {
      return prevSlices + include('./slices/FullWidthImage.ejs', { slice: slice })
    }
    else {
      return '<h1>No Slices found</h1>'
    } 
  }, '') 
}) %> 

<%- getSlices(SliceZone) %>