<% getSlices = ((SliceZone) => {
  return SliceZone.reduce((prevSlices, slice) => {
    switch(slice.slice_type) {
      case 'two_column_media':
        return prevSlices + include('./slices/TwoColumnMedia.ejs', { slice: slice })
        break;
      case 'full_width_image':
      case 'full_width_video':
        return prevSlices + include('./slices/FullWidthMedia.ejs', { slice: slice })
        break;
      case 'single_paragraph':
        return prevSlices + include('./slices/SingleParagraph.ejs', { slice: slice })
        break;
      case 'roi_section':
        return prevSlices + include('./slices/RoiSection.ejs', { slice: slice })
        break;
      case 'testimonial':
        return prevSlices + include('./slices/Testimonial.ejs', { slice: slice })
        break;
      default :
        return '<h1>No Slices found</h1>'
    }
    
  }, '') 
}) %> 

<%- getSlices(SliceZone) %>