@mixin button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: $type--family-alt;
  overflow: hidden;
  padding: 0;
  position: relative;
}