.belt {
  padding: spacing(6) 0;
  overflow: hidden;
  
  @include media-query($breakpoint--medium) {
    //margin-left: spacing(4);
    padding: spacing(13) 0;
  }
}

.belt__wrapper {
  transform: $rotation-angle-minus;
}

.belt__inner {
  display: flex;
  align-items: center;
  animation: marquee 1.5s linear infinite;
  //transform: translateX(calc(-22% + 20vw))
  transform: translateX(-33.3%);
}


.belt__label {
  & + & {
    margin-left: spacing(2);

    @include media-query($breakpoint--medium) {
      margin-left: spacing(4);
    }

    @include media-query($breakpoint--xx-large) {
      margin-left: spacing(7)
    }
  }
}

.belt--label-star {
  height: 17px;

  @include media-query($breakpoint--medium) {
    height: auto;  
  }

  svg {
    height: 100%;
    display: block;
  }
}

@keyframes marquee {
  0% {
    //transform: translateX(calc(-22% + 20vw));
    transform: translateX(-33.3%);
  }
  100% {
    //transform: translateX(calc(-61% + 20vw));
    transform: translateX(-66.6%);
  }
}