.bg--white {
  background-color: $colour--white;
}

.bg--grit-50 {
  background-color: $colour--grit-50;
}

.bg--grit-svg-500 {
  fill: $colour--grit-500;
}

.bg--transparent-50 {
  background-color: rgba(0,0,0,0.5);
}