.floating-poster {
  position: fixed;
  display: none;
  aspect-ratio: 407 / 264;
  width: min(407px, 39.5vw * 0.9);
  height: auto;
  left: 1%;
  bottom: 1%;
  //opacity: 0;
  clip-path: inset(50% 50% 50% 50%);

  @include media-query($breakpoint--small) {
    display: block;
  }

  @include media-query($breakpoint--medium) {
    width: min(407px, 22.5vw * 0.9);
  }

  @include media-query($breakpoint--x-large) {
    width: min(407px, 18vw * 0.9);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}