.loader__icon {
  width: 5rem;
  height: 5rem;
  position: relative;

  @include media-query($breakpoint--medium) {
		width: 6rem;
    height: 6rem;
	}

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.loader__circle {
  fill: none;
  stroke-width: 0.3rem;
}

.loader-circle--progress {
  stroke: $colour--grit-200;
}

.loader-circle--loaded {
  stroke: $colour--passion;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transform: rotate(-90deg);
  transform-origin: 50%;
}
