.nav-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  visibility: hidden;
}

.nav-menu__bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  svg {
    fill: $colour--grit-500;
  }
}

.nav-menu__list {
  margin: spacing(15) auto spacing(8);
  z-index: 6;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu__list-item {
  position: relative;

  .mask-title__word {
    transition: color 300ms ease;
  }
}

.nav-menu__preview {
  display: none;
  top: 50%;
  left: 0;
  pointer-events: none;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  transform: translateY(-50%) scale(0);

  @include media-query($breakpoint--medium) {
    width: 25rem;
    height: 25rem;
    display: block;
  }
}

.touch {
  .nav-menu__preview {
    display: none !important;
  }
}

.nav-menu__link {
  @extend .type--l;
  
  display: inline-block;
  z-index: 2;
  position: relative;
  pointer-events: none;
  padding: spacing(2) 0;

  @include media-query($breakpoint--large) {
		font-size: 12.8rem;
  }

  &.is-disabled {
    color: $colour--grit-300;
  }

  &.is-active {
    color: $colour--white;
  }
}

.menu-is-open .nav-menu__link {
  pointer-events: auto;
}

.nav-link-line__wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0.3rem;
}

.nav-link__line {
  @include underline(0.3rem, false);
  position: absolute;
  left: 0;
  bottom: 20%;
  background-color: $colour--white;
  transform: translateX(-101%);
}