.nav-bar {
  padding: spacing(2) 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;

  .grid {
    @include media-query($breakpoint--small - 1, max-width) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &.inverted {
    transition: 300ms ease;
    color: $colour--white;

    .hamburger__line {
      background-color: $colour--white;
      transition: 300ms ease;
    }
  }
}

.nav-bar__meta-one,
.nav-bar__meta-two {
  display: none;

  @include media-query($breakpoint--medium) {
    display: flex;
    align-items: center;
  }
}

.nav-bar__meta-one {
  @include media-query($breakpoint--medium) {
    grid-column: 3 / 5;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 4 / 6;
  }
}

.nav-bar__meta-two {
  @include media-query($breakpoint--medium) {
    grid-column: 5 / 6;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 6 / 8;
  }
}

.nav-bar__trigger {
  display: flex;
  align-items: center;
  justify-content: right;

  @include media-query($breakpoint--small) {
    grid-column: 8 / 9;
	}

  @include media-query($breakpoint--x-large) {
    grid-column: 10 / 11;
  }
}