.roi__col {
  &:nth-child(1) {
    grid-column: 1 / 4;
  }

  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(6) {
    grid-column: 4 / 7;
  }

  &:nth-child(3),
  &:nth-child(5) {
    grid-column: 8 / 11;
  }
}

.roi--grid-gap {
  row-gap: spacing(7);
}

.roi__icon {
  width: 8rem;
  padding: 1rem;

  svg {
    display: block;
    width: 100%;
  }
}

.roi--scale {
  circle {
    animation: pulse 2s ease-in-out infinite;

    transform-origin: 50% 50%;

    &:nth-child(1) {

      animation-delay: 0;
      //animation-name: pulse;
    }

    &:nth-child(2) {
      animation-delay: 0.15s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
  }
}

.roi--consistency {
  rect {
    animation: fade 4s ease infinite;
    opacity: 0;
    
    &:nth-child(1) {
      animation-delay: 0;
    }
    &:nth-child(2) {
      animation-delay: 0.3s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      animation-delay: 0.9s;
    }
  }
}

.roi--speed {
  rect {
    animation: race 1.2s cubic-bezier(0.2, 0.8, 0.4, 1) infinite;
  }
}

#line-back {
  stroke-dasharray: 42;
  stroke-dashoffset: 0;
  //animation: draw-back 1.2s linear infinite;
  //animation-delay: 0.5s; /* sync with backward rectangle movement */

}

#line-forward {
  stroke-dasharray: 42;
  stroke-dashoffset: 42;
  animation: draw-forward 1.2s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0.6;
  }
}

@keyframes race {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(65%);
  }

  100% {
    transform: translateX(0);
  }
}




// @keyframes draw-forward {
//   0%, 0% { stroke-dashoffset: 42; }
//   35% { stroke-dashoffset: 0; }  
//   36%, 100% { stroke-dashoffset: 42; }     
// }

// @keyframes draw-back {
//   0%, 35% { stroke-dashoffset: 0; }
//   100% { stroke-dashoffset: 42; }
// }
@keyframes draw-forward {
  0% { stroke-dashoffset: 42; }
  100% { stroke-dashoffset: 0; } /* draw left → right */
}

@keyframes draw-back {
  0% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: 42; } /* draw right → left */
}

@keyframes fade {
  0%, 80% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  } 
}