.video__frame {
  position: relative;
  width: 100%;
}

.video-frame--tall {
  aspect-ratio: 900 / 800;

  @include media-query($breakpoint--medium) {
    aspect-ratio: 694 / 850;
  }
}

.video-frame--landscape {
  aspect-ratio: 16 / 9;
}

.video--cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}