/* Typography */
$type--tweakpoint: 450px;

html {
	font-size: 62.5%;

	@include media-query($breakpoint--xxx-large) {
		font-size: 0.50vw;
	}
}

body {
	font-family: $type--family-body;
	font-size: 100%;
}

.type--xl,
.type--l,
.type--m,
.type--s {
	font-family: $type--family-display;
	font-weight: 700;
}
  
.type--xl {
	font-size: 6rem;
	line-height: 1.1;

	@include media-query($type--tweakpoint) {
		font-size: 7.6rem;
	}

	@include media-query($breakpoint--small) {
		font-size: 9.6rem;
		line-height: 1;
	}

	@include media-query($breakpoint--medium) {
		font-size: 11.8rem;
	}

	@include media-query($breakpoint--tweakpoint) {
		font-size: 14.9rem;
	}

	@include media-query($breakpoint--xxx-large) {
		font-size: 18rem;
	}
}

.type--l {
	font-size: 4.8rem;
	line-height: 1.1;

	@include media-query($breakpoint--small) {
		font-size: 6rem;
	}

	@include media-query($breakpoint--medium) {
		font-size: 7.6rem;
	}
}
  
.type--m {
	font-size: 3.9rem;
	line-height: 1.3;

	@include media-query($breakpoint--medium) {
		font-size: 6rem;
		line-height: 1.1;
	}
}
 
.type--s {
	font-size: 2.5rem;
	line-height: 1.3;

	@include media-query($breakpoint--medium) {
		font-size: 3.9rem;
		line-height: 1.2;
	}
}

.type--call-out {
	font-family: $type--family-display;
	font-weight: $type--font-weight-reg;
	line-height: 1.3;
	font-size: 2.4rem;

	@include media-query($breakpoint--medium) {
		font-size: 3.9rem;
	}

	@include media-query($breakpoint--x-large) {
		font-size: 6rem;
	}
}

.type--body {
	@include text-size;
	line-height: $type--line-height;
	margin: 0;

	& + & {
		margin-top: spacing(3);
	}
}

.type--alt-xl {
	@include capitalised-text(true);
	@include text-size(1.6, 2.4, 3.2);
}

.type--alt-l {
	@include capitalised-text(true);
	@include text-size;
}

.type--alt-s {
	@include capitalised-text(true);
	@include text-size(1.2, null, 1.4);
}

.type--letter-sp {
	letter-spacing: 1px;
}

.type--l-margin {
	margin: 0 0 spacing(5);

	@include media-query($breakpoint--small) {
		margin: 0 0 spacing(7);
	}

	@include media-query($breakpoint--medium) {
		margin: 0 0 spacing(9);
	}
}

.type--m-margin {
	margin: 0 0 spacing(4);

	@include media-query($breakpoint--medium) {
		margin: 0 0 spacing(5);
	}
}

.type--s-margin {
	margin: 0 0 spacing(2);

	@include media-query($breakpoint--medium) {
		margin: 0 0 spacing(3);
	}
}

.type--italic {
	font-style: italic;
}

.type--semi-bold {
	font-weight: $type--font-weight-semi;
}

.type--body-colour {
	color: $colour--body-type;
}

.type--grit-colour {
	color: $colour--grit;
}

.type--white {
	color: $colour--white;
}

.type--off-white {
	color: $colour--text-on-grit;
}