<section class="section--l section--l-top">
  <div class="container grid">
    <% 
    let title = document.data.title
    let titleArr = title.split(" ")
    
    %>
    
    <div class="home-hero__title">
      <h1 class="type--xl text-center">
        <% titleArr.forEach((text, index) => { %>
          <% let i = index + 1  %>
  
          <% if (i === titleArr.length) { %>
            <span class="type--italic"><%- text %></span>
          <% } else { %>
            <span><%- text %></span>
          <% } %>
        <% }) %>
  
      </h1>
    </div>
    
  </div>


</section>

<section class="section--l">
  <div class="container grid">
    <div class="column--centered section--s">
      <h4 class="text-center type--call-out type--grit-colour">
        <%- document.data.call_out_text %>
      </h4>
    </div>
    <div class="services">
      <% 
        let list = document.data.services_list
        
      %>
      <ul class="services__list">
        <% for(skill in list) { %>
          <li>
            <p class="services__list-item type--grit-colour">
             <%- list[skill].service %>
            </p>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</section>
